*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	background-color: #f4f4f4;
	color: #555555;
	font-family: Verdena, Tahoma, Helvetica;
	font-size: 14px;
	line-height: 1.6em;
	
	min-height: 100%;
	position: relative;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


header{
	background: grey;
	color: #ffffff;
	padding-top: 30px;
	border-bottom: #ff4000 3px solid;
	min-height: 70px;
}

header a{
	color: white;
	text-decoration: none;
}

header li{
	float: right;
	display: inline;
	padding: 0 20px 0 20px; 
}

header #branding{
	float: left;
}

header nav{
	float: right;
	margin-top: 5px;
}

header .color{
	color: #ff4000;
}

header a:hover{
	color: #ff4000;
}

.meaning{
	background: red;
}
.meaningtwo{
	background: blue;
}