<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CharadesControllerServlet</servlet-name>
  	<display-name>CharadesControllerServlet</display-name>
  	<description></description>
  	<servlet-class>pl.tatastruga.web.CharadesControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CharadesControllerServlet</servlet-name>
  	<url-pattern>/charades</url-pattern>
  </servlet-mapping>
</web-app>
